# Default values for jobs-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: alexandrevilain/image-resizer-jobs-api 
  tag: latest 
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8000 

ingress:
  enabled: true 
  annotations: {}
  port: 8000
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  paths: ["/"]
  hosts:
    - jobs-api.k8s.lan 
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

api_port: 8000 
storage:
  bucketname: imageresizer
  server: 10.105.53.251
  port: 9000
  accesskey: supinfo
  secretkey: supinfo1234
  ssl: false 

nats:
  connectionstrings: "nats://10.100.35.114:4222"
  queue: "jobs"

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
